.first-padding {
    padding: 10px;
    
    background-color: blueviolet;
}
.first-padding {
    padding: 10px;
    background-color: blueviolet;
}
.first-padding {
    padding: 10px;
    background-color: blueviolet;
}
.secound-padding {
    padding: 10px;
    background-color:rgb(116, 116, 226) ;
}